@charaset"utf-8";
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url(texture.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*全体*/
h1#page-top{
    text-align: center;
    font-size: 24px;
    font-family: serif;
    padding: 30px;
    margin: 0;
    color: #000;
}
img.pic{
    width: 100%;
    margin: 0;
    padding: 0;
}
h1.tit{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 34px;
}
p{
    text-align: center;
}
p.sub{
    text-align: center;
    color: #999;
    font-style: italic;
    font-family: serif;
    font-size: 18px;
    margin-top: 0;
}
p.serif{
    font-family: serif;
}

/*MAIN*/
div#about{
    padding: 100px 0 100px 0;
}
#about .profile {
    text-align: center;
    font-family: serif;
    margin-top: 50px;
}
#about img{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}
div#skill{
    padding: 100px 0 100px 0;
}
h3.language{
    text-align: center;
    color: #808080;
}
div.machinelanguage{
    margin: 0 5% 0 5%;
}
div#contact{
    padding: 100px 0 100px 0;
}
#contact a{
    text-decoration: none;
    color: #444;
    text-align: center;
}
#contact img{
    display: block;
    margin: 0 auto;
    width: 50px;
    float: none;
}
#contact .mail {
    text-align: center;
    font-family: serif;
    font-size: 18px;
    margin: 0;
}

/* FOOTER*/
a#top{
	color: #aaa;
	font-size: 36px;
	font-family: serif;
	position: fixed;
	bottom: 1%;
	right: 1%;
	text-decoration: none;
}
footer{
    margin: 0;
    padding: 0;
    width: 100%;
    /* position: absolute;/*←絶対位置*/
    background-color: #222;
}
footer p{
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: serif;
    font-size: 14px;
}
